<li class="list-group-item">
<div>
  <label class="lead mb-2">{{ beer.beerName }}</label>
</div>
<br />
<div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Style</th>
        <th scope="col">UPC</th>
        <th scope="col">Price</th>
        <th scope="col">Last Modified</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-active">
        <td>{{ beer.beerStyle }}</td>
        <td>{{ beer.upc }}</td>
        <td>${{ beer.price }}</td>
        <td>{{ beer.lastModifiedDate | date }}</td>
      </tr>
    </tbody>
  </table>
  <button class ="btn btn-danger btn-sm"(click)="onDelete(beer)">Delete</button>
</div>
</li>
