<div class ="card shadow">
  <div class ="card-header"> 
    Add Beer
    </div>
      <div class = "card-body">
        <form [formGroup]= "beerForm">
          
          <input 
          type="text"
          class ="form-control mb-3"
          placeholder="Beer title"
          [ngClass]= "! beerForm.controls.beerName.valid &&  beerForm.controls.beerName.touched ? 'is-invalid' : '' " 
          formControlName= "beerName"/>
          
          <input 
          type="text"
          class ="form-control mb-3"
          placeholder="UPC code"
          [ngClass]= "! beerForm.controls.upc.valid &&  beerForm.controls.upc.touched ? 'is-invalid' : '' " 
          formControlName= "upc"/>
          
          <input 
          type="number"
          class ="form-control mb-3"
          placeholder="Price"
          [ngClass]= "! beerForm.controls.price.valid &&  beerForm.controls.price.touched ? 'is-invalid' : '' " 
          formControlName= "price"/>

          <select 
           class ="form-select mb-3"
          placeholder="Beer Style"
          [ngClass]= "! beerForm.controls.beerStyle.valid &&  beerForm.controls.beerStyle.touched ? 'is-invalid' : '' " 
          formControlName= "beerStyle">
        <option *ngFor="let beerStyle of beerTypes"[ngValue] = "beerStyle">{{beerStyle}}</option>
        </select>
         <button type ="submit" [disabled]= "beerForm.invalid" class ="btn btn-primary">Submit</button> 


        </form>

    </div>
</div>
